examples/dxl-service-example.json
[
    {
        "id": "1c784deb.1ab752",
        "type": "tab",
        "label": "DXL Service Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "788177c.d0fa088",
        "type": "dxl-core-service",
        "z": "1c784deb.1ab752",
        "name": "Receive service request from DXL fabric",
        "serviceType": "myService",
        "client": "",
        "rules": [
            {
                "payloadType": "txt",
                "topic": "/isecg/sample/mybasicservice"
            }
        ],
        "outputs": 1,
        "x": 180,
        "y": 176,
        "wires": [
            [
                "f4e5ec61.ea5998",
                "70b7064b.e2c7c"
            ]
        ]
    },
    {
        "id": "d78f6b9a.48c378",
        "type": "dxl-core-request",
        "z": "1c784deb.1ab752",
        "name": "Send request to DXL fabric",
        "topic": "/isecg/sample/mybasicservice",
        "client": "",
        "returnType": "txt",
        "x": 172,
        "y": 94,
        "wires": [
            [
                "23ad49ac.605fbe"
            ]
        ]
    },
    {
        "id": "1d2dbf3.51877c1",
        "type": "inject",
        "z": "1c784deb.1ab752",
        "name": "Set 'ping' payload for request",
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 166,
        "y": 36,
        "wires": [
            [
                "d78f6b9a.48c378"
            ]
        ]
    },
    {
        "id": "f4e5ec61.ea5998",
        "type": "debug",
        "z": "1c784deb.1ab752",
        "name": "Output payload from request",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 493,
        "y": 136,
        "wires": []
    },
    {
        "id": "eb0cb78f.1ebb98",
        "type": "dxl-core-response",
        "z": "1c784deb.1ab752",
        "name": "Send response to DXL fabric",
        "client": "",
        "x": 480,
        "y": 215,
        "wires": []
    },
    {
        "id": "23ad49ac.605fbe",
        "type": "debug",
        "z": "1c784deb.1ab752",
        "name": "Output payload from response",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 463,
        "y": 56,
        "wires": []
    },
    {
        "id": "70b7064b.e2c7c",
        "type": "change",
        "z": "1c784deb.1ab752",
        "name": "Set 'pong' payload for response",
        "rules": [
            {
                "p": "payload",
                "pt": "msg",
                "t": "set",
                "to": "pong",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 185,
        "y": 236,
        "wires": [
            [
                "eb0cb78f.1ebb98"
            ]
        ]
    }
]
