examples/dxl-event-example.json
[
    {
        "id": "ebb60155.6dd988",
        "type": "tab",
        "label": "DXL Event Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdb2408d.46924",
        "type": "inject",
        "z": "ebb60155.6dd988",
        "name": "Set 'hello' payload for event",
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 164,
        "y": 36,
        "wires": [
            [
                "529330d1.8c695"
            ]
        ]
    },
    {
        "id": "ab2487e3.00c5d",
        "type": "debug",
        "z": "ebb60155.6dd988",
        "name": "Output payload from event",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 420,
        "y": 96,
        "wires": []
    },
    {
        "id": "529330d1.8c695",
        "type": "dxl-core-event out",
        "z": "ebb60155.6dd988",
        "name": "Send event to DXL fabric",
        "topic": "/isecg/sample/basicevent",
        "client": "",
        "x": 429,
        "y": 36,
        "wires": []
    },
    {
        "id": "96574b91.8110c8",
        "type": "dxl-core-event in",
        "z": "ebb60155.6dd988",
        "name": "Receive event from DXL fabric",
        "topic": "/isecg/sample/basicevent",
        "client": "",
        "payloadType": "txt",
        "x": 149,
        "y": 96,
        "wires": [
            [
                "ab2487e3.00c5d"
            ]
        ]
    }
]
